---
import Fullscreen from "../../layouts/Fullscreen.astro";
import Regular from "../../layouts/Regular.astro";
import Pantalla from "../../components/Pantalla.astro";
import Offline from "../../components/Offline.astro";
import Monitor from "../../components/Monitor.astro";
import pages from "./pages.js";
export async function getStaticPaths() {
	return pages.map(({ id, title, color, video }) => {
		return {
			params: { id },
			props: { title, color, video },
		};
	});
}
const { id } = Astro.params;
const { title, color, video } = Astro.props;
const backendURL = "https://topical-platypus-partly.ngrok-free.app";
---

<style>
	[x-cloak] {
		display: none !important;
	}
</style>
{
	!id && (
		<Regular title="Interacción - Una nueva piel" description="Página para elegir pantallas para alterar.">
			<svg class="h-0 w-0 absolute" aria-hidden="true" focusable="false">
				<linearGradient id="gradient-2" x2="1" y2="1">
					<stop offset="0%">
						<animate
							attributeName="stop-color"
							values="blue;#447799"
							dur="20s"
							repeatCount="indefinite"
						/>
					</stop>
					<stop offset="50%">
						<animate
							attributeName="stop-color"
							values="#224488;cyan"
							dur="20s"
							repeatCount="indefinite"
						/>
					</stop>
					<stop offset="100%">
						<animate
							attributeName="stop-color"
							values="cyan;#112266"
							dur="20s"
							repeatCount="indefinite"
						/>
					</stop>
				</linearGradient>
			</svg>
			<main
				id="main"
				class="max-w-prose mx-auto py-8 px-6 bg-gradient-to-b from-zinc-900 to-zinc-1000"
				x-data="{ pantallas: [], cargando: true }"
					x-modelable="pantallas"
					x-init={`() => fetch('${backendURL}/pantalla', { headers: { 'ngrok-skip-browser-warning': '69420' }})
								.then(resp => resp.json())
								.then(data => pantallas = data)
								.then(_ => cargando = false)
								.catch(err => cargando = true)`}
				
			>
				<ul
					class="grid grid-cols-1 gap-4"
				>
					<template x-for="p in pantallas">
						<Monitor
							id="p._id"
							title="p.descripcion"
							video="p.video"
						/>
					</template>
				</ul>
				<div  x-show.important="cargando">
					<Offline/>
				</div>
			</main>
		</Regular>
	)
}
{
	!!id && (
		<Fullscreen title={`Pantalla ${id} - Una nueva piel`} description="">
			<Pantalla id={id} color={color} video={video} />
		</Fullscreen>
	)
}
